<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Founder</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">OAK CREEK SOLUTIONS COMPANY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designed and implemented strategies for a high tech start-up to provide LendingClub investors portfolio modeling, optimization, and automated trading services. Designed and implemented strategies for a high tech start-up to provide LendingClub investors portfolio modeling, optimization, and automated trading services. Strategy outperformed LendingClub’s annualized average return by 56% since deployment. </p>

                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Vice President, Asset Management</h3>
                            <div class="time">2009 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">CCB INTERNATIONAL ASSET MANAGEMENT</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Managed a private equity investment portfolio with a total asset value of US$200 mil+.
Executed project management from pre-investment due diligence to post-investment management and exit. Conducted in-depth fundamental analysis and financial modeling such as Comparable, Discounted Cash Flow, Mergers &Acquisitions and Leveraged Buyout analyses.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
</section><!--//section-->