<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">AppliCan</a></span> - <span class="project-tagline">A can-do job management system for job applicants.</span>
                    <p>Product Owner & Full Stack Engineer</p>
                    <ul>Leveraged Express to implement RESTful server endpoints for Passport’s Google Oauth2 strategy</ul>
                    <ul>Researched various open source APIs for job searching and applied Dice API to provide data</ul>
                    <ul>Designed and implemented a full stack notes keeping application using React/Redux, Node, and Sequelize</ul>
                    <ul>Styled the web using SASS and MUI to convey a simple and modern design concept</ul>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://recrac.herokuapp.com" target="_blank">BidYourTime</a></span> - 
                    <span class="project-tagline">A social application for organizing private events. </span>
                    <p>Product Owner & Full Stack Engineer</p>
                    <ul>Built a full stack countdown system that tracks the expiration of each event using Angular, Express, Mongo</ul>
                    <ul>Styled the webpage by building an app that automates photo change for different types of events</ul>
                </div><!--//item-->
            </section><!--//section-->